body { 
    font-family: 'Lato', sans-serif;
    background-color: #d3d9f5; 
    height: 100vh;  
    margin: 0;
    /* Media query for medium-sized screens (tablets) */
    @media (min-width: 768px) {
        body {
            background-color: #e0e0e0;
            font-size: 18px;
        }
    }

    /* Media query for large screens (laptops/desktops) */
    @media (min-width: 1200px) {
        body {
            background-color: #d0d0d0;
            font-size: 20px;
        }
    }
}
header { 
    background-color: #051770;
    color: #f2f2f2;
    align-items: center;
    text-align: center;
}
table {
    border: 1px solid #000;
   
}

.responsive{
    max-width: 100%;
    height:auto;
}

ul{ list-style:none;}

h2 { color: peru;}
h3 { color:peru;}
h4 { color:peru;}
h5 { color:peru;}

/* Hover Button  */
#hoverBtn {
    background-color: peru;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 20px;
    cursor: pointer;
}


#hoverBtn:hover {
    background-color: palegoldenrod;
}

/* Alert Button */
#btn-alert {
    background-color: peru;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 20px;
    cursor: pointer;
}


#btn-alert {
    background-color: peru;
}

/* Incrementing Button */
#btn-counter {
    background-color: peru;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 20px;
    cursor: pointer;
}


#btn-counter {
    background-color: peru;
}

/* This is my re-submission */